<div class='col-md-12 dark'>
<div class='center'>
  <div class='well well-sm black'>
  
  <h4><%= @post.title %></h4>
</div>

<div class='well black'>
 
  <%= markdownify(@post.body)%>
</div>

<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>
<%= link_to 'Destroy', @post, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-info' %> 
<%= link_to 'Back', posts_path, class: 'btn btn-info' %>
</div> 



</div>